<div class="row">
    <% @albums.each do |album| %>
  <div class="col-md-3">
    <a href="<%=album_path(album)%>">
      <div class="thumbnail">
        <img src="<%=album.cover%>"></img>
        <div class="caption">
          <h3 class="title"> <%= album.title %></h3>
          <p class="artist"> <%= album.artist %></p>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>