<div class="main">
  <div class="container">
    <h1>Hello my name is Nicu</h1>
    <p>I make Rails apps.</p>
    <p>This is a demo web application based on CodeAcademy's rails tutorial, some modifications done by Nicu Listana. Please visit <%=link_to "Code Academy", "http://codeacademy.com"%> for more amazing ruby on rails tutorials.</p>
  </div>
</div>