    <div class="jumbotron">
      <!-- <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <a href="/">
                <img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" width="180" height="34">
              </a>
            </div>
            <div class="pull-right">
              <ul>
                <li>Log in</li>
                <li>
                  <a href="#" class="btn btn-default">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

        <div class="main">
          <h1>About Bolt</h1>
          <p>This is a demo web application based on CodeAcademy Pro's rails tutorial, some modifications done by Nicu Listana. Please visit <%=link_to "Code Academy", "http://codeacademy.com"%> for more amazing ruby on rails tutorials.</p>
        </div>
      </div>
    </div>
    